.App {
  text-align: left;
  width: 1287px;

  background-color: #145712;

}

.App-logo {
  height: 150px;
  width: 150px;
  pointer-events: none;
  margin-top: -50px;
  margin-left: -20px;



}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header a {

  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: flex-start;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: #ffc400;
  font-size: 55px;
  font-family: 'Speeday';
  height: 0px;
  width: max-content;
  padding-top: 20px;

}



.App-header a:hover {
  color: #e4af00;


}

@font-face {
  font-family: 'Speeday'format ('truetype');
  src: local('Speeday-Regular-FFP.tff');
}


.App-link {
  color: #2fbe53;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.listHeader a {
  text-decoration: none;
  color: #ffffff;
  padding: 3px;
}

.listHeader a:hover {
  color: rgb(129, 255, 150);


}


.Body {
  background-color: #145712;


}

.listHeader {
  background-image: linear-gradient(#145712, #2d552b);
  width: 1270px;
  height: 40px;
}

.listHeader ul li {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.header ul li a {
  color: lightskyblue;
}

